.history-header {
    margin-bottom: 30px;
    border-bottom-style: solid;
    border-color: black; 
}

.history-header .adas-filter {
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #e0D4cf;
}

.filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }