<div class="history-header">
    <h1>History Board</h1>
    <button class="adas-filter" (click)="openModal()">
        <span>ADAS </span>
        <fa-icon [icon]="faFilter"></fa-icon>
    </button>
</div>
<!-- en cours de test à modifier -->
<div class="content">
    <h2>Resim Request</h2>
    <!-- Uniquement pour visualiser -->
    <app-resim-request></app-resim-request>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
</div>
<div *ngIf="isModalOpen" class="filter-overlay">
    <app-filter *ngIf="isModalOpen" (close)="closeModal()"></app-filter>
</div>