<div class="confirm">
    <div class="top-confirm">
        <div class="header">
            <h2>Delete request ?</h2>
        </div>
        <button class="close-btn" (click)="closeModal()">
            <fa-icon [icon]="faXmark"></fa-icon>
        </button>
    </div>
    <div class="confirm-content">
        <h3>{{data.message}}</h3>
    </div>
    <div class="choice">
        <div class="yes">
            <button class="yes-btn" (click)="DeleteThisRequest()">
                <p>Yes</p>
            </button>
        </div>
        <div class="no">
            <button class="no-btn" (click)="closeModal()">
                <p>No</p>
            </button>
        </div>
    </div>
</div>


