.main {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    padding: 20px;
}
  

.header_title {
    margin-bottom: 30px;
}

.header_select{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 100%;
}

.filter {
    padding: 10px;
    padding-inline: 20px;
    border-radius: 100px;
    border-color: black;
    color: rgb(0, 0, 0);
    background-color:  #e0D4cf;
    font: Arial, Helvetica, sans-serif;
}

.finish, .On-going, .awaiting {
    margin-top: 30px;
}

.expanded {
    margin-left: 60px; /* Quand le menu est ouvert */
    transition: 0.15s;
    transition-timing-function: linear;

}
  
.collapsed {
    margin-left: 190px; /* Quand le menu est fermé */
    transition-delay: 0.15s;
    transition-timing-function: linear;
}

