.header {
    margin-bottom: 30px;
    border-bottom-style: solid;
    border-color: black; 
}

.filter {
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #e0D4cf;
}

.title {
    margin-bottom: 30px;
}