<div class="Bucket Temp">
    <div class="header">
        <h1>Request Bucket Temp</h1>
        <button class="filter" (click)="openModal()">
            <span>Request Filter </span>
            <fa-icon [icon]="faFilter"></fa-icon>
        </button>
    </div>
    <br>
    <div class="content">
        <div class="title">
            <h2>Resim Requests awaiting</h2>
        </div>
        <app-resim-request 
            *ngFor="let request of filteredRequests" [request]="request" (StatusSelected)="onStatusSelected($event)">
        </app-resim-request>
        <div *ngIf="filteredRequests.length === 0">
            <app-modal-confirm></app-modal-confirm>
        </div>
    </div>
</div>
<div *ngIf="isModalOpen" class="filter-overlay">
    <app-filter (close)="closeModal()"></app-filter>
</div>
