<div class="top">
    <div class="header-title">
        <h1>Dashboard ADAS Resim 2025</h1>
        <div class="adas-title">
            <h3>ADAS Resim Tracking</h3>
        </div>
    </div>
</div>
<div class="main">
    <div class="finished">
        <h3>Finished less than 2 weeks</h3>
        <br>
        <!-- Mettre un ngFor -->
        <div class="content">
            <p>Request Component</p>
        </div>
    </div>
    <div class="ongoing">
        <h3>Ongoing less than 2 weeks</h3>
        <br>
        <!-- Mettre un ngFor -->
        <div class="content">
            <p>Request Component</p>
        </div>
    </div>
    <div class="awaiting">
        <h3>Awaiting less than 2 weeks</h3>
        <br>
        <!-- Mettre un ngFor -->
        <div class="content">
            <p>Request Component</p>
        </div>
    </div>
</div>
