<!-- Creation d'une demande resim -->
<div class="resim-request">
    <div class="adas-project">
        <h3>ADAS project</h3>
        <p>ADAS attributes</p>
    </div>
    <div class="adas-sensor">
        <h3>Sensors</h3>
        <p>Sensors attributes</p>
    </div>
    <div class="adas-follow-up">
        <h3>ADAS follow-up</h3>
        <p>follow-up attributes</p>
    </div>
</div>
<div class="optional-content">
    <div class="resim-comments"></div>
    <div class="results-comments"></div>
</div>