<!-- Creation d'une demande resim -->
<div class="resim-request">
    <div class="main-content">
        <div class="adas-content">
            <div class="adas-project">
                <h3>ADAS</h3>
                <ul>
                    <li>PlatformVehicule: {{adas.PlatformVehicule}}</li>
                    <li>projectVehicule: {{adas.projectVehicule}}</li>
                    <li>ADASDrivingOwner: {{adas.ADASDrivingOwner}}</li>
                    <li>TypeDriving: {{adas.TypeDriving}}</li>
                    <li>ADASApplicantOwner: {{adas.ADASApplicantOwner}}</li>
                </ul>
            </div>
            <div class="adas-sensor">
                <h3>Sensors</h3>
                <ul>
                    <li>silSWFrCam: {{sensor.silSWFrCam}}</li>
                    <li>linkSilSWFrCam: {{sensor.linkSilSWFrCam}}</li>
                    <li>silSWFrRad: {{sensor.silSWFrRad}}</li>
                    <li>linkSilSWFrRad: {{sensor.linkSilSWFrRad}}</li>
                    <li>silSWSideRad: {{sensor.silSWSideRad}}</li>
                    <li>linkSilSWSideRad: {{sensor.linkSilSWSideRad}}</li>
                    <li>silSWAdas: {{sensor.silSWAdas}}</li>
                    <li>CalibrationSwAdas: {{sensor.CalibrationSwAdas}}</li>
                    <li>linkSilSWAdas: {{sensor.linkSilSWAdas}}</li>
                </ul>
            </div>
            <div class="adas-follow-up">
                <h3>ADAS follow-up</h3>
                <div class="status-container">
                    <label>
                        <input type="radio" [value]="'refused'" [formControl]="statutControl" [disabled]="!isAdmin">
                            Refused
                    </label>
                    <label>
                        <input type="radio" [value]="'awaiting'" [formControl]="statutControl" [disabled]="!isAdmin">
                            Awaiting
                    </label>
                    <label>
                        <input type="radio" [value]="'validated'" [formControl]="statutControl" [disabled]="!isAdmin">
                            Validated
                    </label>
                </div>
                <ul>
                    <li>numDDV: {{follow.numDDV}}</li>
                    <li>dateCreationResimLoopRequest: {{follow.dateCreationResimLoopRequest | date: eu_date_format}}</li>
                    <li>DatelastModif: {{follow.DatelastModif | date: eu_date_format}}</li>
                    <li>Dateplanned: {{follow.Dateprevu | date: eu_date_format}}</li>
                    <li>dateEndResimLoop: {{follow.dateEndResimLoop | date: eu_date_format}}</li>
                    <li>stateResimLoopStatus: {{follow.stateResimLoopStatus}}</li>
                    <li>stateADASStatus: {{follow.stateADASStatus}}</li>
                    <li>dateModifStatusBuckettemp: {{follow.dateModifStatusBuckettemp | date: eu_date_format}}</li>
                    <li>statusBuckettemp: {{follow.statusBuckettemp}}</li>
                    <li>associateResimForm: {{follow.associateResimForm}}</li>
                </ul>
            </div>
        </div>
        <button class="option-selection" (click)="toggleDiv()">
            <fa-icon [icon]="faCaretDown"></fa-icon>
            <span class="tooltiptext">Display comments</span>
        </button> 
    </div>
    <!-- Creation d'une section commentaires -->
    <div class="optional-content"  [ngClass]="{'show' : isVisible, 'hide' : !isVisible}">
        <form [formGroup]="formGroup">
            <div class="resim-comments">
                <label for="comments" class="form-label">Comments : </label>
                <textarea id="comments" rows="3" cols="25" type="text" formControlName="resim_comments" class="form-comments"></textarea>
            </div>
            <div class="results-comments">
                <label for="results" class="form-label">Results : </label>
                <textarea id="results" rows="3" cols="25" type="text" formControlName="results_comments" class="form-comments"></textarea>
            </div>
            <button type="submit" class="btn-submit">Submit</button>
        </form>
    </div>
</div>